:root {
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);
  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: hsl(220, 16%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 55%; } }

body {
  font-family: 'Public Sans';
  overflow-x: hidden; }

.header {
  padding: 0 13rem;
  position: fixed;
  top: 0;
  background-color: var(--White);
  width: 100%;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000; }
  @media only screen and (max-width: 1140px) {
    .header {
      padding: 0 10rem; } }
  @media only screen and (max-width: 900px) {
    .header {
      grid-template-columns: repeat(2, 1fr);
      padding: 1.5rem 10rem; } }
  @media only screen and (max-width: 700px) {
    .header {
      padding: 1.5rem  4rem; } }
  @media only screen and (max-width: 375px) {
    .header {
      padding: 1.5rem; } }
  .header__logo {
    justify-self: start;
    cursor: pointer; }
  .header__nav {
    list-style: none;
    justify-self: center;
    display: flex; }
    @media only screen and (max-width: 900px) {
      .header__nav {
        visibility: hidden;
        pointer-events: none;
        display: none; } }
    .header__nav--items {
      margin-right: .5rem; }
      .header__nav--items a {
        color: var(--GrayishBlue);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        display: inline-block;
        padding: 2rem 1rem;
        transition: all .5s ease-in-out; }
        .header__nav--items a:hover {
          color: var(--DarkBlue);
          border-bottom: 2px solid var(--LimeGreen); }
  .header__mobile {
    grid-column: 3 / -1;
    grid-row: 1 / span 1;
    z-index: 10;
    display: none; }
    @media only screen and (max-width: 900px) {
      .header__mobile {
        display: block;
        cursor: pointer; } }
  .header__close {
    grid-column: 3 / -1;
    grid-row: 1 / span 1;
    display: none; }
    @media only screen and (max-width: 900px) {
      .header__close {
        display: block;
        cursor: pointer; } }
  .header__btn {
    justify-self: end; }
    @media only screen and (max-width: 900px) {
      .header__btn {
        display: none !important;
        visibility: hidden; } }

.mobile {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(45, 49, 77, 0.5) 60%, rgba(0, 0, 0, 0));
  z-index: 600;
  font-size: 1.5rem;
  transition: all .3s ease-in-out; }
  .mobile__nav {
    list-style: none;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    width: 90%;
    border-radius: 1rem;
    position: relative;
    top: 8rem;
    transition: all 0.4s cubic-bezier(0.83, 0.28, 0, 1.39) 0.2s; }
    .mobile__nav--items a {
      color: var(--GrayishBlue);
      text-decoration: none;
      border-bottom: 2px solid transparent;
      display: inline-block;
      padding: 2rem;
      transition: all .5s ease-in-out; }
      .mobile__nav--items a:hover {
        color: var(--DarkBlue);
        border-bottom: 2px solid var(--LimeGreen); }

.btn {
  padding: 1rem 2.2rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  background-image: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
  color: var(--White);
  border: none;
  transition: all .5s ease-in-out;
  cursor: pointer;
  display: block; }
  .btn:hover {
    background-image: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan) 40%); }
  .btn:focus {
    outline: none; }

section {
  padding: 6rem 13rem;
  min-height: 55rem; }
  @media only screen and (max-width: 1140px) {
    section {
      padding: 6rem 10rem; } }
  @media only screen and (max-width: 900px) {
    section {
      padding: 4rem 8rem;
      min-height: 100vh; } }
  @media only screen and (max-width: 700px) {
    section {
      padding: 4rem; } }
  @media only screen and (max-width: 375px) {
    section {
      padding: 2rem; } }

.home {
  padding-right: 0;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: minmax(min-content, 45rem) 1fr;
  align-items: center;
  justify-content: center;
  background-color: var(--VeryLightGray);
  height: 60rem; }
  @media only screen and (max-width: 900px) {
    .home {
      grid-template-rows: minmax(min-content, 45rem) 1fr;
      padding: 0; } }
  @media only screen and (max-width: 375px) {
    .home {
      grid-template-rows: minmax(min-content, 35rem) 1fr; } }
  .home__infoBox {
    align-self: flex-end; }
    @media only screen and (max-width: 900px) {
      .home__infoBox {
        align-self: center;
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 8rem; } }
    @media only screen and (max-width: 700px) {
      .home__infoBox {
        padding: 4rem; } }
    @media only screen and (max-width: 375px) {
      .home__infoBox {
        padding: 2rem; } }
  .home__heading {
    font-size: 5rem;
    color: var(--DarkBlue);
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 700px) {
      .home__heading {
        font-size: 4rem; } }
    @media only screen and (max-width: 375px) {
      .home__heading {
        margin-bottom: 2rem; } }
  .home__details {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 4rem;
    line-height: 1.5;
    color: var(--GrayishBlue);
    margin-bottom: 3rem; }
    @media only screen and (max-width: 700px) {
      .home__details {
        margin-right: 0; } }
    @media only screen and (max-width: 375px) {
      .home__details {
        margin-bottom: 2rem; } }
  .home__btn {
    margin-bottom: 7rem;
    opacity: 0; }
    @media only screen and (max-width: 900px) {
      .home__btn {
        margin-bottom: 0; } }
  .home__imgBox {
    background-image: url(../images/bg-intro-desktop.svg);
    background-position-y: -27rem;
    height: 100%;
    background-repeat: no-repeat; }
    @media only screen and (max-width: 900px) {
      .home__imgBox {
        grid-row: 1 / 2;
        grid-column: 1 /-1;
        background-image: url(../images/bg-intro-mobile.svg);
        background-position: 0;
        background-size: cover; } }
  .home__img {
    width: 47vw;
    position: absolute;
    top: -2rem;
    right: -10rem; }
    @media only screen and (max-width: 1140px) {
      .home__img {
        width: 55vw; } }
    @media only screen and (max-width: 900px) {
      .home__img {
        width: 55%;
        top: -10rem;
        left: 50%;
        transform: translateX(-50%); } }
    @media only screen and (max-width: 900px) {
      .home__img {
        width: 67%; } }
    @media only screen and (max-width: 375px) {
      .home__img {
        width: 95%;
        top: -6rem; } }

.why {
  background-color: var(--LightGrayishBlue); }
  @media only screen and (max-width: 900px) {
    .why {
      text-align: center; } }
  .why__heading {
    font-size: 3.5rem;
    font-weight: 300;
    color: var(--DarkBlue);
    margin-bottom: 2rem; }
    @media only screen and (max-width: 375px) {
      .why__heading {
        margin-bottom: 1.5rem; } }
  .why__details {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 55rem;
    color: var(--GrayishBlue);
    margin-bottom: 5rem; }
    @media only screen and (max-width: 1140px) {
      .why__details {
        margin-right: 20rem; } }
    @media only screen and (max-width: 900px) {
      .why__details {
        margin-right: 0; } }
    @media only screen and (max-width: 375px) {
      .why__details {
        margin-bottom: 4rem; } }
  .why__reasonBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem; }
  .why__reason--heading {
    font-size: 2rem;
    font-weight: 300;
    color: var(--DarkBlue);
    margin-bottom: 2rem; }
    @media only screen and (max-width: 375px) {
      .why__reason--heading {
        margin-bottom: 1.5rem; } }
  .why__reason--details {
    font-size: 1.5rem;
    color: var(--GrayishBlue);
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 2rem; }
  .why__img {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 375px) {
      .why__img {
        margin-bottom: 1.5rem; } }

.article {
  background-color: var(--VeryLightGray); }
  .article__heading {
    font-size: 3.5rem;
    font-weight: 300;
    color: var(--DarkBlue);
    margin-bottom: 2rem; }
    @media only screen and (max-width: 900px) {
      .article__heading {
        text-align: center; } }
  .article__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem; }
  .article__items {
    overflow: hidden;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: .5rem;
    height: 38rem;
    position: relative; }
    @media only screen and (max-width: 375px) {
      .article__items {
        width: 85%;
        justify-self: center; } }
    .article__items--img {
      width: 110%;
      display: block;
      object-fit: cover; }
    .article__items div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--White);
      padding: 2.5rem;
      height: 55%;
      position: absolute;
      bottom: 0;
      width: 100%; }
      @media only screen and (max-width: 375px) {
        .article__items sub {
          padding: 1.5rem; } }
    .article__items--tag {
      font-size: 1rem;
      margin-bottom: 1rem;
      display: inline-block;
      color: var(--GrayishBlue); }
      @media only screen and (max-width: 375px) {
        .article__items--tag {
          margin-bottom: 2rem; } }
    .article__items--heading {
      font-size: 1.5rem;
      font-weight: 300;
      color: var(--DarkBlue);
      margin-bottom: 1rem;
      cursor: pointer;
      transition: all .2s ease-in-out; }
      .article__items--heading:hover {
        color: var(--LimeGreen); }
    .article__items--details {
      font-size: 1.2rem;
      color: var(--GrayishBlue); }

.footer {
  min-height: 15rem;
  padding: 5rem 13rem;
  background-color: var(--DarkBlue);
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem; }
  @media only screen and (max-width: 1140px) {
    .footer {
      padding: 4rem 10rem; } }
  @media only screen and (max-width: 900px) {
    .footer {
      padding: 4rem 8rem; } }
  @media only screen and (max-width: 700px) {
    .footer {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1rem; }
      .footer > * {
        margin-bottom: 2rem; } }
  .footer .logoName {
    fill: white; }
  .footer__logo {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    align-self: flex-start;
    cursor: pointer; }
    @media only screen and (max-width: 700px) {
      .footer__logo {
        align-self: center; } }
  .footer__socials {
    grid-column: 1 / 2;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 1.5rem;
    align-self: center; }
    .footer__socials svg {
      cursor: pointer; }
      .footer__socials svg path {
        transition: all .3s ease; }
      .footer__socials svg:hover path {
        fill: var(--LimeGreen); }
  .footer__list {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    list-style: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    font-size: 1.35rem;
    color: var(--White); }
    .footer__list--item {
      transition: all .3s ease; }
      .footer__list--item:hover {
        color: var(--LimeGreen); }
  .footer__btn {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    justify-self: end; }
    @media only screen and (max-width: 1140px) {
      .footer__btn {
        align-self: start; } }
    @media only screen and (max-width: 700px) {
      .footer__btn {
        align-self: center; } }
  .footer__rights {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
    justify-self: end;
    align-self: flex-end;
    color: var(--GrayishBlue);
    font-size: 1.35rem; }
    @media only screen and (max-width: 700px) {
      .footer__rights {
        align-self: center; } }

.display {
  opacity: 0; }

.transUP {
  transform: translateY(-150%); }

.height {
  width: 0; }
